<ion-content [fullscreen]="true">

  <div class="d-flex flex-column align-items-center justify-content-center h-100" style="gap: 20px;" *ngIf="state === 'pre-login'">
    <img src="./assets/icon/baru_nasmoco_png.png" class="" alt="" style="width: 30%;">
    <!-- <ion-buttons slot="secondary">
      <ion-button size="large" style="background-color: #EF4706;"> Masuk </ion-button>
    </ion-buttons> -->

    <button class="btn btn-sm text-white" style="background-color: #EF4706; width: 50%;" (click)="state = 'login'"><b>Masuk</b></button>

    <p>Belum punya akun? <span class="text-orange">DAFTAR</span></p>
  </div>

  <div *ngIf="state === 'login'">
    <div class="header bg-orange">
      <p class="text-white px-2 py-1"><b>MASUK</b></p>
    </div>

    <div class="body-login ion-padding">
      <form action="" class="mt-3" [formGroup]="loginForm">
        <div class="d-flex flex-column align-items-center h-100" style="gap: 20px;">

          <img src="./assets/icon/baru_nasmoco_png.png" class="" alt="" style="width: 30%;">

          <ion-input label="Email" class="custom" label-placement="floating" placeholder="" formControlName="student_number"></ion-input>
          <ion-input label="Kata Sandi" class="custom" label-placement="floating" placeholder="" formControlName="password"></ion-input>

          <button type="submit" (click)="onSubmit()" class="btn btn-md text-white w-100" style="background-color: #EF4706; width: 50%;" (click)="state = 'login'"><b>MASUK</b></button>

          <div class="d-flex align-items-end justify-content-end w-100">
            <p><b class="text-orange">Lupa Password ?</b></p>
          </div>
        </div>
      </form>
    </div>
  </div>

</ion-content>
