<ion-menu content-id="main-content" class="h-100">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">This is the menu content.</ion-content>
</ion-menu>

<div class="d-flex flex-column h-100" id="main-content">
  <div style="background-image: url(./assets/icon/m_header_a.jpg); background-size: cover; height: 60px;" class="d-flex align-items-center">
    <ion-buttons slot="start" style="color: #fff;">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </div>

  <div class="h-100" style="background-color: #fff;">
    <div class="mt-2 ml-2" style="display: inline-block; overflow: hidden; position: relative; width: 100%;">

      <img src="./assets/icon/header-1.png" alt="" height="" style="pointer-events: none; position: absolute; height: 100%; z-index: 1; right: 0">

      <img src="./assets/icon/Logo-Toyota-Lets-Go-Beyond.png" alt="" height="" style="width: 100px;">
      <p class="mb-0"><b>Hi, baagas0&#64;gmail.com</b></p>
      <p class="mb-0">Ayo atur personalisasimu untuk <br> pelayanan lebih maksimal</p>
      <p class="mb-0"><b>Atur Sekarang</b></p>
      <p>height: {{ screenHeight }}, width: {{ screenWidth }}</p>

    </div>

    <div style="margin: 1rem;">
      <div class="row">
        <div class="col-4 text-center" style="margin-top: 3.5rem;">
          <img src="./assets/icon/menu-1.png" alt="" style="width: 80px;">
          <p>Penjualan</p>
        </div>
        <div class="col-4 text-center" style="margin-top: 3.5rem;">
          <img src="./assets/icon/menu-2.png" alt="" style="width: 80px;">
          <p>Bengkel</p>
        </div>
        <div class="col-4 text-center" style="margin-top: 3.5rem;">
          <img src="./assets/icon/menu-3.png" alt="" style="width: 80px;">
          <p>Cari Dealer</p>
        </div>
        <div class="col-4 text-center" style="margin-top: 3.5rem;">
          <img src="./assets/icon/menu-4.png" alt="" style="width: 80px;">
          <p>Booking Service</p>
        </div>
        <div class="col-4 text-center" style="margin-top: 3.5rem;">
          <img src="./assets/icon/menu-5.png" alt="" style="width: 80px;">
          <p>Promo</p>
        </div>
        <div class="col-4 text-center" style="margin-top: 3.5rem;">
          <img src="./assets/icon/menu-6.png" alt="" style="width: 80px;">
          <p>My Toyota</p>
        </div>
      </div>

      <div class="row mt-3">
        <p class="mb-1"><b>Promo</b></p>

        <img [src]="promos[0].imglink" alt="">
      </div>
    </div>
  </div>
</div>

<div class="fab-wrapper">
  <div class="bg-wrap" style="background-color: rgb(0, 0, 0, 0.5);"></div>
  <input id="fabCheckbox" type="checkbox" class="fab-checkbox" />
  <label class="fab" for="fabCheckbox">
    <span class="fab-dots fab-dots-1"></span>
    <span class="fab-dots fab-dots-2"></span>
    <span class="fab-dots fab-dots-3"></span>
  </label>
  <div class="fab-wheel" [style]="'width: ' + (screenWidth-62) + 'px; height: ' + (screenHeight-120) + 'px'">
    <!-- <a class="fab-action fab-action-1">
      <i class="fas fa-question"></i>
    </a>
    <a class="fab-action fab-action-2">
      <i class="fas fa-book"></i>
    </a>
        <a class="fab-action fab-action-3">
      <i class="fas fa-address-book"></i>
    </a>
        <a class="fab-action fab-action-4">
      <i class="fas fa-info"></i>
    </a> -->
    <div style="background-color: #fff;" class="p-3 d-flex justify-content-between align-items-center">
      <img src="./assets/icon/baru_nasmoco_png.png" class="" alt="" style="width: 30%;">

      <ion-icon name="close-outline" size="large"></ion-icon>
    </div>
    <div class="messages">
			<ul>
				<!-- <li class="sent">
					<img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
					<p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
				</li> -->
				<li class="replies">
					<p>Harga Mobil Terbaru.</p>
				</li>
				<li class="sent">
					<p>Hai kak, ingin mobiol seri apa?.</p>
				</li>
				<li class="replies">
					<img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
					<p>Avanza</p>
				</li>
				<li class="sent">
					<p>Berikut daftar harga mobil avanza</p>
					<p>1. 2022 Toyota Avanza 1.3 M/T 233jt</p>
					<p>2. 2022 Toyota Avanza 1.3 M/T 233jt</p>
					<p>3. 2022 Toyota Avanza 1.3 M/T 233jt</p>
					<p>4. 2022 Toyota Avanza 1.3 M/T 233jt</p>
					<p>5. 2022 Toyota Avanza 1.3 M/T 233jt</p>
				</li>

			</ul>
		</div>

    <div class="message-input">
			<div class="d-flex gap-10 pl-3 pr-3 pb-2" style="flex-flow: wrap;padding: 1rem 0rem 3rem 0.5rem;">
        <button class="btn btn-outline-primary">Daftar Harga Mobil Terbaru</button>
        <!-- <button class="btn btn-outline-primary">Cari Dealer Lain</button> -->
        <button class="btn btn-outline-primary">Layanan Bengkel</button>
        <button class="btn btn-outline-primary">Promo Toyota</button>
        <!-- <button class="btn btn-outline-primary">Booking Layanan</button> -->
      </div>
		</div>

  </div>
</div>
