
<ion-content [fullscreen]="true">
  <div class="home-top ion-padding">
    <div class="top-bar d-flex flex-column h-100">
      <div class="d-flex justify-content-start gap-10">
        <div class="logo">
          <img src="./assets/img/logo-tr.png" alt="">
        </div>
        <div class="logo">
          <img src="./assets/img/logo-udinus.jpg" alt="" style="width: 30px;height: 30px;border-radius: 30px;">
        </div>
        <div>
          <p class="mb-0 text-dark mb-0" style="font-size: 12px; font-weight: 500;">Bagas Aditya Mahendra</p>
          <p class="mb-0 text-dark" style="font-size: 12px;">Guru</p>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <h2 class="mb-0 text-dark">Hallo<span><img src="./assets/img/waving-hand.png" style="width: 50px;" alt=""></span>Bagas</h2>
        <p class="text-dark" style="font-size: 13px;">Semangat Belajarnya Ya!</p>
      </div>
    </div>
  </div>
  <div class="home-content" style="margin-top: -17px; min-height: 75%;">
    <div class="card" style="border-radius: 17px; border-bottom: 0px; border-left: 0px; border-right: 0px; min-height: 75%;">
      <div class="card-body">
        
        <!-- Absen Status -->
        <div class="card mt-2" style="border-radius: 12px;">
          <div class="card-body">
            <div class="d-flex align-items-start justify-content-between">
              <div>
                <h5 class="mt-0 mb-0" style="font-size: 15px; font-weight: 500;">15:51 WIB</h5>
                <p style="font-size: 13px;">Jam belajar kamu pukul 00:00 - 00:00</p>
              </div>
              <div id="modal-absent-report" expand="block">
                <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
              </div>
            </div>

            <!-- Button Absen -->
            <div class="d-flex gap-10 mb-3">
              <button id="open-loading" class="btn btn-primary btn-lg w-100 fs-10" style="font-size: 12px; height: 50px;" (click)="addPhotoToGallery()">
                Masuk
              </button>
              <button class="btn btn-light border btn-lg w-100 fs-10" style="font-size: 12px; height: 50px;">
                Keluar
              </button>
            </div>

            <!-- Button Absen Kelas -->
            <div class="d-flex gap-10">
              <button class="btn btn-light border btn-lg w-100 fs-10 text-primary" style="font-size: 12px; height: 50px; border-radius: 30px;">
                Absen Kelas
              </button>
            </div>
          </div>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col size="6" *ngFor="let photo of photos; index as position">
              <ion-img [src]="photo.webviewPath"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
        <h5 style="font-size: 15px; font-weight: 500;">Aktivitas Anda</h5>
        <div class="d-flex flex-column">

          <div class="card" style="border: 0px solid; border-radius: 10px;">
            <div class="card-body" style="border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;">
              <div class="d-flex gap-10">

                <div style="width: 40px; height: 40px; background-color: #F1FAFF; border-radius: 10px;display: flex; justify-content: center; align-items: center;">
                  <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/keenthemes/metronic/docs/core/html/src/media/icons/duotune/arrows/arr096.svg-->
                  <span class="svg-icon svg-icon-muted svg-icon-2hx text-primary" style=""><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect opacity="0.3" width="12" height="2" rx="1" transform="matrix(-1 0 0 1 20 11)" fill="currentColor"/>
                    <path d="M18.1313 11.6927L16.3756 10.2297C15.9054 9.83785 15.8732 9.12683 16.306 8.69401C16.6957 8.3043 17.3216 8.28591 17.7336 8.65206L20.6592 11.2526C21.1067 11.6504 21.1067 12.3496 20.6592 12.7474L17.7336 15.3479C17.3216 15.7141 16.6957 15.6957 16.306 15.306C15.8732 14.8732 15.9054 14.1621 16.3756 13.7703L18.1313 12.3073C18.3232 12.1474 18.3232 11.8526 18.1313 11.6927Z" fill="currentColor"/>
                    <path opacity="0.5" d="M16 5V6C16 6.55228 15.5523 7 15 7C14.4477 7 14 6.55228 14 6C14 5.44772 13.5523 5 13 5H6C5.44771 5 5 5.44772 5 6V18C5 18.5523 5.44771 19 6 19H13C13.5523 19 14 18.5523 14 18C14 17.4477 14.4477 17 15 17C15.5523 17 16 17.4477 16 18V19C16 20.1046 15.1046 21 14 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3H14C15.1046 3 16 3.89543 16 5Z" fill="currentColor"/>
                    </svg>
                  </span>
                    <!--end::Svg Icon-->
                </div>
  
                <div class="d-flex justify-content-between align-items-center w-100">
                  <div class="d-flex flex-column justify-content-center">
                    <h5 class="mt-0 mb-0" style="font-size: 13px; font-weight: 500;">Absen Masuk</h5>
                    <p class="text-dark mt-0 mb-0" style="font-size: 11px;">12 Desember 2023</p>
                  </div>

                  <h5 class="mt-0 mb-0" style="font-size: 14px; font-weight: 600;">07:01</h5>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-modal #modal trigger="modal-absent-report" color="light" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 0.75]">
    <ng-template>
      <ion-content class="ion-padding" color="light">
        <h5 style="font-size: 15px; font-weight: 500;">Riwayat hari ini</h5>

        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column">
              <div class="d-flex flex-row align-items-center gap-10 mb-4">
                <!-- <ion-icon name="arrow-redo-sharp" style="font-size: 32px;"></ion-icon> -->

                <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/keenthemes/metronic/docs/core/html/src/media/icons/duotune/arrows/arr096.svg-->
                <span class="svg-icon svg-icon-muted svg-icon-2hx"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect opacity="0.3" width="12" height="2" rx="1" transform="matrix(-1 0 0 1 20 11)" fill="currentColor"/>
                  <path d="M18.1313 11.6927L16.3756 10.2297C15.9054 9.83785 15.8732 9.12683 16.306 8.69401C16.6957 8.3043 17.3216 8.28591 17.7336 8.65206L20.6592 11.2526C21.1067 11.6504 21.1067 12.3496 20.6592 12.7474L17.7336 15.3479C17.3216 15.7141 16.6957 15.6957 16.306 15.306C15.8732 14.8732 15.9054 14.1621 16.3756 13.7703L18.1313 12.3073C18.3232 12.1474 18.3232 11.8526 18.1313 11.6927Z" fill="currentColor"/>
                  <path opacity="0.5" d="M16 5V6C16 6.55228 15.5523 7 15 7C14.4477 7 14 6.55228 14 6C14 5.44772 13.5523 5 13 5H6C5.44771 5 5 5.44772 5 6V18C5 18.5523 5.44771 19 6 19H13C13.5523 19 14 18.5523 14 18C14 17.4477 14.4477 17 15 17C15.5523 17 16 17.4477 16 18V19C16 20.1046 15.1046 21 14 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3H14C15.1046 3 16 3.89543 16 5Z" fill="currentColor"/>
                  </svg>
                </span>
                  <!--end::Svg Icon-->

                <div style="flex-shrink: 1;">
                  <p class="mb-1" style="font-size: 12px;">Absen Masuk</p>
                  <h5 class="mb-0 mt-0" style="font-size: 14px;">12:00 WIB</h5>
                </div>
              </div>

              <div class="d-flex flex-row align-items-center gap-10">
                <!-- <ion-icon name="arrow-redo-sharp" style="font-size: 32px;"></ion-icon> -->

                <!--begin::Svg Icon | path: /var/www/preview.keenthemes.com/keenthemes/metronic/docs/core/html/src/media/icons/duotune/arrows/arr092.svg-->
                <span class="svg-icon svg-icon-muted svg-icon-2hx"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect opacity="0.3" x="8.5" y="11" width="12" height="2" rx="1" fill="currentColor"/>
                  <path d="M10.3687 11.6927L12.1244 10.2297C12.5946 9.83785 12.6268 9.12683 12.194 8.69401C11.8043 8.3043 11.1784 8.28591 10.7664 8.65206L7.84084 11.2526C7.39332 11.6504 7.39332 12.3496 7.84084 12.7474L10.7664 15.3479C11.1784 15.7141 11.8043 15.6957 12.194 15.306C12.6268 14.8732 12.5946 14.1621 12.1244 13.7703L10.3687 12.3073C10.1768 12.1474 10.1768 11.8526 10.3687 11.6927Z" fill="currentColor"/>
                  <path opacity="0.5" d="M16 5V6C16 6.55228 15.5523 7 15 7C14.4477 7 14 6.55228 14 6C14 5.44772 13.5523 5 13 5H6C5.44771 5 5 5.44772 5 6V18C5 18.5523 5.44771 19 6 19H13C13.5523 19 14 18.5523 14 18C14 17.4477 14.4477 17 15 17C15.5523 17 16 17.4477 16 18V19C16 20.1046 15.1046 21 14 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3H14C15.1046 3 16 3.89543 16 5Z" fill="currentColor"/>
                  </svg>
                </span>
                <!--end::Svg Icon-->

                <div style="flex-shrink: 1;">
                  <p class="mb-1" style="font-size: 12px;">Absen Keluar</p>
                  <h5 class="mb-0 mt-0" style="font-size: 14px;">17:00 WIB</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h5 style="font-size: 15px; font-weight: 500;">Laporan bulan ini</h5>
        <div class="d-flex gap-10 w-100">
          <div class="d-flex flex-column justify-content-start w-100" style="flex-shrink: 1;">
            <div class="card">
              <div class="card-body">
                <span class="bg-primary" style="height: 5px; width: 17px;display: inline-block;border-radius: 5px;"></span>
                <p class="mb-0" style="font-size: 12px;">Hadir</p>
                <h5 class="mt-0 mb-0" style="font-size: 15px; font-weight: 500;">0 Hari</h5>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column justify-content-start w-100" style="flex-shrink: 1;">
            <div class="card">
              <div class="card-body">
                <span class="bg-warning" style="height: 5px; width: 17px;display: inline-block;border-radius: 5px;"></span>
                <p class="mb-0" style="font-size: 12px;">Izin</p>
                <h5 class="mt-0 mb-0" style="font-size: 15px; font-weight: 500;">0 Hari</h5>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column justify-content-start w-100" style="flex-shrink: 1;">
            <div class="card">
              <div class="card-body">
                <span class="bg-danger" style="height: 5px; width: 17px;display: inline-block;border-radius: 5px;"></span>
                <p class="mb-0" style="font-size: 12px;">Absen</p>
                <h5 class="mt-0 mb-0" style="font-size: 15px; font-weight: 500;">0 Hari</h5>
              </div>
            </div>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  
</ion-content>
